h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    float: left;
    color: rgb(1, 1, 29);
}

.footer{
    position: fixed;
    text-align: center;
    bottom:0;
    background-color: #ee6e73;
    height: 30px;
    width:100%;
    
}

.container{
    border-radius: 5px;
    border-style: solid;
    border-color:rgb(255, 255, 255);
    margin-top: 30px;
    background-color: whitesmoke;
    padding: 15px;
}

.waves-light {
    background-color: lightcoral;
    align-content: center;
    margin: 0 auto 0 auto;
}
.waves-light:hover {
    background-color: rgb(152, 208, 212);
}


#indexBackground{
    background: url(./img/street2.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 800px;
}

.card {
    margin: 0 auto 0 auto;
}

.list-properties {
    font-size: 24px;
}

.form-criteria {
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding: 10px;
    background-color: #fff;
}

.h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.thumb {
    width: 100px;
}
.circle {
    border-radius: 100%;
  }

  .spaced-icons{
      margin: 3px;
      font-size: large;
      font-weight: 500;

  }



  .result-img{
    margin: 5px;
}


.title-text{
font-weight: bold;
font-size: 120%;
}

.right-aligned{

    float: right;
}


.toggle-button{

display: none;

}


.toggle-button-on{

    display: inline;
    
    }