h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    float: left;
    color: rgb(1, 1, 29);
}

.footer{
    position: fixed;
    text-align: center;
    bottom:0;
    background-color: #ee6e73;
    height: 30px;
    width:100%;
    
}

.container{
    border-radius: 5px;
    border-style: solid;
    border-color:lightgray;
    margin-top: 30px;
    background-color: whitesmoke;
}
#indexBackground{
    background: url(./img/street2.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 800px;
}



